/*Main Form Section*/
section{
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    border-radius:5px;
    border:1px solid #bbb;
    padding: 1em;
    width: 30%;
    -moz-width: fit-content;
    -webkit-width: fit-content;  
}

h2{
    text-align: center;
}
h2{
    text-align: center;
}

.input-box{
    padding: 0.5em;
}
/*reveal organization boxes if radio button activated*/
.reveal-if-active {
    display: block;
  }

.hidden{
    display: none;
}
.btn{
    margin: auto;
}
button{
    width: 15ch;
}

.confirm{
    text-align: center;
}