/*Landing Page Main Sections*/

/*page sections*/
main{
    scroll-snap-type: y proximity;
    -webkit-scroll-snap-type: y proximity; 
}
section{
    scroll-snap-align: center;
    -webkit-scroll-snap-align: center;
    text-align: center;
    border-radius:5px;
    border:2px solid #bbb;
    margin: 2em;
    padding: 1em;
    box-shadow: 5px 5px 6px 0px rgba(140,140,140,0.39);
}
div{
    padding: 0 2%;
}
section h2{
    font-size: 2em;
    /*font-weight: 800;*/
    color: #678b99;
}
img{
    border-radius: 5px;
}
.main-flex{
    display: flex;
    flex: 1;
    min-width: 0;
    align-items: center;
}
.main-flex img{
    width: 33vw;
    height: auto;
  }
.section-flex{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 1 0;
    min-width: 0;
    height: 100%;
}
.section-flex img{
  width: 33vw;
  height: auto;
  
}
/*development section*/
.development-flex{
    display: flex;
    justify-content: space-evenly;
}

section li {
    text-align: left;
}
section hr{
  border: none;
  color: black;
  background-color: black;
  height: 1px;
  width: 100%;
}
section a {
  text-decoration: none;
  font-weight: bold;
  color: #678b99;
}
section ul{
  margin-bottom: 2em;
}
/*Entrepreneur section*/
.flex-col{
  flex: 1;
}
/*for tablet*/
@media all and (max-width: 960px) {
    .main-flex{
        flex-direction: column;
        align-items: center;
    }
  .section-flex{
    flex-direction: column;
    align-items: center;
  }
}
/*for mobile device*/
@media all and (max-width: 600px) {
  .development-flex{
    flex-direction: column;
  }
}
